body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vh;
    background-color: white;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100vw;   
    height: 100vw;
}

.cube {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    right: 44%;
    top: 50%;
    animation: bounce 3s infinite ease-in-out, colorChange 1.5s infinite;
}

/* Bottom shadow */
.shadow {
    width: 200px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    animation: shadowScale 3s infinite ease-in-out;
}

/* Top shadow */
.top-shadow {
    width: 200px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    animation: shadowScaleInverted 3s infinite ease-in-out;
}

@keyframes bounce {
    0% {
        top: 50%;
    }
    50% {
        top: 82%;
    }
    100% {
        top: 50%;
    }
}

@keyframes shadowScale {
    0%, 100% {
        transform: translateX(-50%) scaleX(1);
        opacity: 0.5;
    }
    50% {
        transform: translateX(-50%) scaleX(0.5);
        opacity: 0.2;
    }
}

@keyframes shadowScaleInverted {
    0%, 100% {
        transform: translateX(-50%) scaleX(0.5);
        opacity: 0.2;
    }
    50% {
        transform: translateX(-50%) scaleX(1);
        opacity: 0.5;
    }
}

@keyframes colorChange {
    0%, 100% {
        background-color: red;
    }
    
    100% {
        background-color: purple;
    }
}
